* {
    font-family: $primaryFont;
}

.calloutContents,
.primaryHeader,
.cardSection,
#bannerContents,
.footerContents {
    max-width: $containerWidth;
    margin: 0 auto;
}


/* Sections */

#hamburgerButton {
    display: none;
    background-image: url(/images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 34px;
    width: 34px;
}

.primaryNav {
    height: 5rem;
    ul {
        float: right;
    }
    ul li {
        float: left;
        list-style-type: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 1.2rem 0.6rem;
        padding: 0.8rem 1.65rem;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid white;
        opacity: 0.7;
    }
    ul li:last-child {
        margin-right: 0;
    }
    ul li:hover {
        opacity: 1;
    }
    ul li.selected {
        color: $neutralLightGray;
        background-color: $primaryViolet;
        opacity: 1;
    }
}

.callout {
    height: 37rem;
    background-color: $primaryViolet;
    position: relative;
    z-index: 0;
}

.callout #calloutTopTexture {
    width: 100%;
    height: 100%;
    background-image: url(/images/bg-pattern-intro-right-desktop.svg);
    background-size: 24rem;
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    z-index: 2;
    top: 0;
}

.calloutContents {
    height: 37rem;
    h1 {
        padding-top: 10.5rem;
        max-width: 32rem;
        width: 50%;
        float: left;
    }
    p {
        margin-top: 1.8rem;
        max-width: 34rem;
        color: $neutralLightGray;
        line-height: 1.6rem;
        float: left;
        width: 50%;
    }
    button {
        float: left;
        margin-top: 1.75rem;
    }
}

#textureImage01 {
    background-image: url(/images/bg-pattern-intro-left-desktop.svg);
    width: 195px;
    height: 504px;
    position: absolute;
    bottom: -90px;
}

#familyPhoto {
    background-image: url(/images/image-intro-desktop.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 650px;
    float: right;
    position: relative;
    top: 105px;
    right: -10px;
}

.cardSection {
    color: $primaryViolet;
    padding-top: 24rem;
}

.cardSectionContainer {}

.cardSection h1 {
    color: $primaryViolet;
}

.cardItem {
    list-style-type: none;
    width: 33.33333%;
    float: left;
}

.cardItem#snappyProcess {
    background-image: url(/images/icon-snappy-process.svg);
    background-repeat: no-repeat;
    background-position: 0px 90px;
}

.cardItem#affordablePrices {
    background-image: url(/images/icon-affordable-prices.svg);
    background-repeat: no-repeat;
    background-position: 0px 90px;
}

.cardItem#peopleFirst {
    background-image: url(/images/icon-people-first.svg);
    background-repeat: no-repeat;
    background-position: 0px 90px;
}

.cardItem h2 {
    font-family: $headlineFont;
    font-size: 1.66rem;
}

.cardItem p {
    margin-top: 1.25rem;
    line-height: 1.5rem;
    width: 97%;
}

.cardSection .cardItem {
    padding-top: 13.5rem;
    font-family: $headlineFont;
}

#bannerContents {
    background-color: $primaryViolet;
    height: 15.5rem;
    clear: both;
    margin-top: 31rem;
    padding-top: 1px;
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right center;
    overflow: hidden;
    h1 {
        font-size: 3.2rem;
        width: 450px;
        margin: 4rem 0rem 4rem 5rem;
        float: left;
    }
    button {
        float: right;
        margin: 6rem 5rem 6rem 0rem;
    }
}

footer {
    margin-top: 9.5rem;
    background-color: $neutralLightGray;
    overflow: hidden;
    padding-bottom: 6rem;
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
}

.footerContents #logo {
    margin-top: 4.25rem;
    float: left;
}

.footerTopSection {
    border-bottom: 1px solid gray;
    padding-bottom: 2.2rem;
    overflow: hidden;
}

.socialMediaIcons li {
    float: right;
    list-style-type: none;
    width: 24px;
    height: 24px;
    padding: 6px;
    background-position: center center;
    margin-top: 3.5rem;
    cursor: pointer;
}

.socialMediaIcon {
    background-repeat: no-repeat;
}

.socialMediaIcons .socialMediaIcon:hover {
    opacity: 1 !important;
}

.socialMediaIcons {
    #facebook {
        background-image: url(/images/icon-facebook.svg);
        opacity: 0.8;
    }
    #twitter {
        background-image: url(/images/icon-twitter.svg);
        opacity: 0.8;
    }
    #pinterest {
        background-image: url(/images/icon-pinterest.svg);
        opacity: 0.8;
    }
    #instagram {
        background-image: url(/images/icon-instagram.svg);
        opacity: 0.8;
    }
}

.secondaryNavList {
    margin-top: 1.8rem;
    float: left;
    width: 25%;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.125rem;
    li {
        margin-top: 1rem;
        cursor: pointer;
    }
    li:nth-child(2) {
        margin-top: 2.9rem;
    }
}


/* Shared Componenents */

h1 {
    font-size: 4.43rem;
    font-family: $headlineFont;
    color: $neutralLightGray;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: -0.05rem;
}

button {
    text-transform: uppercase;
    padding: 0.8rem 1.65rem;
    border: 1px solid $neutralLightGray;
    background: rgba(0, 0, 0, 0);
    color: $neutralLightGray;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    cursor: pointer;
}

button:hover {
    background-color: $neutralLightGray;
    color: $primaryViolet;
}

#logo {
    background-image: url(/images/logo.svg);
    width: 112px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.primaryHeader #logo {
    height: 5rem;
    float: left;
}

@media (min-width: 769px) and (max-width: $containerWidth+50px) {
    /* properties that only apply to tablets */
    .primaryHeader {
        #logo {
            margin-left: 2rem;
        }
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    /* properties that only apply to tablets */
}

@media (max-width: 501px) {
    h1,
    h2 {
        font-size: 2.8rem;
        line-height: 2.8rem;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        float: none;
        display: static;
    }
    /* properties that only apply to phones */
    .primaryHeader {
        overflow: hidden;
        #logo {
            margin-left: 2rem;
        }
        #hamburgerButton {
            display: block;
            float: right;
            margin-top: 1.5rem;
            margin-right: 0.8rem;
        }
        .primaryNav {
            display: none;
        }
    }
    .callout {
        overflow: hidden;
        height: auto;
        .calloutContents {
            overflow: hidden;
            height: auto;
            h1 {
                width: 80%;
                margin: 0 auto;
                display: block;
                float: none;
            }
            #familyPhoto {
                width: 100%;
                float: none;
                height: 540px;
                margin: 0;
                position: static;
                background-size: contain;
            }
            h1 {
                margin-top: 0;
                padding-top: 0;
            }
            p {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                float: none;
                margin-top: 1rem;
                line-height: 2rem;
            }
            button {
                float: none;
                margin: 0 auto;
                display: block;
                margin-top: 2rem;
                margin-bottom: 6rem;
            }
        }
    }
    .cardSection {
        padding-top: 0;
        h1 {
            width: 80%;
            margin: 0 auto;
            margin-top: 8rem;
            display: block;
            float: none;
        }
        .cardItem {
            width: 90%;
            float: none;
            margin: 0 auto;
            h2 {
                width: 80%;
            }
            p {
                text-align: center;
            }
        }
        #snappyProcess {
            background-image: url(/images/icon-snappy-process.svg);
            background-repeat: no-repeat;
            background-position: center 100px;
        }
        #affordablePrices {
            background-image: url(/images/icon-affordable-prices.svg);
            background-repeat: no-repeat;
            background-position: center 100px;
        }
        #peopleFirst {
            background-image: url(/images/icon-people-first.svg);
            background-repeat: no-repeat;
            background-position: center 100px;
        }
    }
    #bannerContents {
        margin-top: 6rem;
        height: auto;
        h1 {
            text-align: center;
            float: none;
            margin: 3rem;
            width: auto;
            font-size: 2.4rem;
            font-weight: 100;
        }
        button {
            float: none;
            margin: 0 auto;
            display: block;
            margin-bottom: 6rem;
        }
    }
    footer {
        margin-top: 8rem;
        .footerContents #logo {
            float: none;
            margin: 0 auto;
            margin-top: 5rem;
        }
        .socialMediaIcons {
            float: none;
            width: 144px;
            margin: 0 auto;
            margin-top: 0rem;
            li {
                margin-top: 1.5rem;
            }
        }
        .secondaryNavList {
            float: none;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            li {
                float: none;
            }
        }
    }
}