@media (min-width: 787px) and (max-width: $containerWidth+50px) {
    /* properties that only apply to tablets */
    .primaryHeader {
        #logo {
            margin-left: 2rem;
        }
    }
    .primaryNav {
        margin-right: 2rem;
    }
    .callout {
        .calloutContents {
            margin: 0 2rem;
        }
    }
    .cardSectionContainer {
        .cardSection {
            margin: 0 2rem;
        }
    }
    footer {
        .footerContents {
            margin: 0 2rem;
        }
    }
}

@media (max-width: 786px) {
    h1,
    h2 {
        font-size: 2.8rem;
        line-height: 2.8rem;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        float: none;
        display: static;
    }
    /* properties that only apply to phones */
    .primaryHeader {
        overflow: hidden;
        #logo {
            margin-left: 1.5rem;
        }
        #hamburgerButton {
            display: block;
            float: right;
            margin-top: 1.5rem;
            margin-right: 0.8rem;
            outline: none;
        }
        .primaryNav {
            clear: both;
            overflow: hidden;
            transition-property: height;
            transition-duration: 800ms;
            transition-timing-function: cubic-bezier(0.655, 0.01, 0.325, 1.005);
            height: 0;
            background-color: #2d2640;
            background-image: url(/images/bg-pattern-mobile-nav.svg);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 100%;
            ul {
                color: white;
                float: none;
                text-align: center;
            }
            ul li {
                line-height: 2rem;
                margin: 0;
                padding: 0;
                border: 0;
                padding: 1rem 1rem;
                margin: 1rem 3rem;
                box-sizing: border-box;
                float: none;
                box-sizing: border-box;
            }
            ul li.selected {
                border: 1px solid white;
            }
        }
        #dropDownMenu ul li:nth-child(odd) {
            background-color: aliceblue;
        }
        .primaryNav.expand {
            height: 100vh;
        }
    }
    .callout {
        overflow: visible;
        height: auto;
        #calloutTopTexture {
            display: none;
        }
        #textureImage01 {
            display: none;
        }
        #mobileTextureImage {
            background-image: url(/images/bg-pattern-intro-right-mobile.svg);
            width: 124px;
            height: 330px;
            display: block;
            position: absolute;
            bottom: -175px;
            right: 0;
        }
        .calloutContents {
            overflow: hidden;
            height: auto;
            background-image: url(/images/bg-pattern-intro-left-mobile.svg);
            background-repeat: no-repeat;
            background-position: 0px 540px;
            h1 {
                width: 90%;
                margin: 0 auto;
                display: block;
                float: none;
            }
            #familyPhoto {
                width: 100%;
                float: none;
                height: 540px;
                margin: 0;
                position: static;
                background-size: cover;
            }
            h1 {
                margin-top: 0.4rem;
                padding-top: 5rem;
                line-height: 3rem;
                letter-spacing: 0.05rem;
            }
            p {
                width: 85%;
                margin: 0 auto;
                text-align: center;
                float: none;
                margin-top: 1rem;
                line-height: 1.6rem;
            }
            button {
                float: none;
                margin: 0 auto;
                display: block;
                margin-top: 2rem;
                margin-bottom: 6rem;
            }
        }
    }
    .cardSection {
        padding-top: 0;
        h1 {
            width: 89%;
            margin: 0 auto;
            margin-top: 8.6rem;
            padding-top: 2.8rem;
            display: block;
            float: none;
            letter-spacing: 0.05rem;
        }
        h1:before {
            content: "";
            border: 1px solid #bbb;
            display: block;
            width: 150px;
            margin: 0 auto;
            position: relative;
            top: -45px;
        }
        .cardItem {
            width: 90%;
            float: none;
            margin: 0 auto;
            padding-top: 12.2rem;
            h2 {
                width: 80%;
            }
            p {
                text-align: center;
                width: 95%;
                margin-top: 0.8rem;
            }
        }
        #snappyProcess {
            background-image: url(/images/icon-snappy-process.svg);
            background-repeat: no-repeat;
            background-position: center 80px;
        }
        #affordablePrices {
            background-image: url(/images/icon-affordable-prices.svg);
            background-repeat: no-repeat;
            background-position: center 60px;
            h2 {
                margin-top: -1.1rem;
            }
        }
        #peopleFirst {
            background-image: url(/images/icon-people-first.svg);
            background-repeat: no-repeat;
            background-position: center 60px;
            h2 {
                margin-top: -1.1rem;
            }
        }
    }
    #bannerContents {
        background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
        background-position: right top;
        margin: 9rem 1.5rem 3rem 1.5rem;
        height: auto;
        h1 {
            text-align: center;
            float: none;
            margin: 1rem;
            width: auto;
            font-size: 2.4rem;
            font-weight: 100;
            margin-top: 4.25rem;
            line-height: 2.6rem;
        }
        button {
            float: none;
            margin: 0 auto;
            display: block;
            margin-bottom: 4.75rem;
            margin-top: 2.25rem;
        }
    }
    footer {
        margin-top: 8.75rem;
        background-image: url(/images/bg-pattern-footer-mobile.svg);
        background-repeat: no-repeat;
        .mobileBorder {
            height: 1px;
            border-top: 1px solid $neutralGrayViolet;
            width: 85%;
            margin: 0 auto;
        }
        .footerContents #logo {
            float: none;
            margin: 0 auto;
            margin-top: 5.5rem;
        }
        .socialMediaIcons {
            float: none;
            width: 144px;
            margin: 0 auto;
            margin-top: 0rem;
            li {
                margin-top: 1.5rem;
            }
        }
        .secondaryNavList {
            float: none;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            margin-top: 2.5rem;
            li {
                color: $neutralViolet;
                float: none;
                font-weight: 900;
            }
            li:first-child {
                font-weight: 200;
            }
        }
    }
}