/* color variables */

$primaryViolet: hsl(256, 26%, 20%);
$primaryGrayBlue: hsl(216, 30%, 68%);
$neutralViolet: hsl(270, 9%, 17%);
$neutralGrayViolet: hsl(273, 4%, 51%);
$neutralLightGray: hsl(0, 0%, 98%);